



.main{
	width:80vw;
	margin:auto;
	margin-top:50px;
}

.baseDiv{
	padding:10px;
}

.row{
margin-left:0px !important;
}

.myHover{
	cursor:pointer;
}

.myHover:hover{
	font-size: 20px;
}
	
#canvasDiv{
	opacity:0;
	width: 100%;
	border:5px solid #3b5924;
}

.chartWrapper{
	max-width:1000px;
	width:100%;
	height:400px;
	overflow:hidden;
	margin:auto;
	display:none;
}

.invisDiv{
	display:none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212529;
  text-align: center;
}

.footer a{
  color: white !important;
}

