
<p>Das Projekt wird in einer Repo auf FU GitLab entwickelt, und zwar: <a href="https://git.imp.fu-berlin.de/dawniezgodka/kitchen-app"> HIER!</a></p>

<h3>Teilnehmer:</h3>
<ul>
    <li>Dorian</li>
    <li>Sebastian</li>
    <li>Dhruti</li>
    <li>Dawid</li>
</ul>
