<div class="row">
	<div class="col-lg baseDiv myHover" id="Water-Heater" onclick="openAppliance('Water-Heater', '0')">
		<p class="text-center"><i class="fas fa-home"></i></p>
		<p class="text-center">Living room<p>
	</div>
	<div class="col-lg baseDiv myHover" id="Toaster" onclick="openAppliance('Toaster', '1')";>
		<p class="text-center"><i class="fas fa-home"></i></p>
		<p class="text-center">Living room 2<p>
	</div>
	<div class="col-lg baseDiv myHover" id="Fridge" onclick="alert('disabled')">
		<p class="text-center"><i class="fas fa-icicles"></i></p>
		<p class="text-center">Fridge<p>
	</div>
	<div class="col-lg baseDiv myHover" id="Stove" onclick="alert('disabled')">
		<p class="text-center"><i class="fas fa-fire-alt"></i></p>
		<p class="text-center">Stove<p>
	</div>
</div>
<div id="canvasDiv" style="">
	<div class="row">
		<div class="col-sm-2 baseDiv">
			<p class="text-center"><i id="powerLamp" class="fas fa-fire-alt 8x" style="width:60%;height:60%;margin-top:15px"></i></p>
			<p id="breakpointId" class="text-center">Breakpoint: 25 °Celsius</p>
		</div>
		<div class="col-sm-5 baseDiv">
			<div class="baseDiv">	
				<h4>Durchschnittswerte</h4>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Ø Letzte Minute: <span id="agMin">---</span></li>
					<li class="list-group-item">Ø Letzte Stunde: <span id="agHour">---</span></li>
					<li class="list-group-item">Ø Letzte Woche: <span>---</span> </li>
				</ul>	
			</div>		
		</div>
		<div class="col-sm-5 baseDiv">
			<div class="baseDiv">
				<h4>Aktuelle Werte</h4>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Temperatur: <span id="tempId">---</span> <div class="float-right"><button id="tempbtn" type="button" class="btn btn-outline-success" data-toggle="button" aria-pressed="false" autocomplete="off">Show Graph</button></div></li>
					<li class="list-group-item">Druck: <span id="druckId">---</span><div class="float-right"><button id="druckbtn" type="button" class="btn btn-outline-success" data-toggle="button" aria-pressed="false" autocomplete="off">Show Graph</button></div></li>
					<li class="list-group-item">Letzte Messung: <span id="zeitId">---</span> </li>
				</ul>
			</div>
		</div>
	</div>
	<hr>
	<div id="tempDiv" class="chartWrapper">
		<div id="chartContainer" width="100%" height="400"></div>
	</div>
	<div id="druckDiv" class="chartWrapper">
		<div id="chartContainer2" width="100%" height="400"></div>
	</div>
</div>
